<link href="~/Css/progressbar.css" rel="stylesheet" />

<div ng-controller="NutrientsController">

        <div id="head" class="panel panel-primary col-lg-12 col-md-12 col-sm-12 col-xs-12" role="main">
            <div id="head" class="panel-heading ui-draggable-handle col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <i class="fa fa-chevron-left nav navbar-left"></i>
                <i class="fa fa-chevron-right nav navbar-right"></i>
                <h1 class="panel-title" style="color:white" align="center">
                    <strong>Today</strong>
                </h1>
            </div>


            <!-- page content -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel tile fixed_height_320">
                    <div class="x_title">
                        <h2 style="color:darkblue">Nutrients</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <h4><strong>Sugar</strong></h4>
                            </div>
                            <div class="w_center w_55">
                                        <progress max="100" value="80" class="html5">
                                            <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                                            <div class="progress-bar">
                                                <span style="width: 80%">80%</span>
                                            </div>
                                        </progress>
                            </div>
                            <div class="w_right w_20">
                                <span>30 g</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <h4><strong>Carbohydrates</strong></h4>
                            </div>
                            <div class="w_center w_55">
                                        <progress max="100" value="60" class="html5">
                                            <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                                            <div class="progress-bar">
                                                <span style="width: 60%">60%</span>
                                            </div>
                                        </progress>
                                </div>
                            
                            <div class="w_right w_20">
                                <span>50 g</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <h4><strong>Protein</strong></h4>
                            </div>
                            <div class="w_center w_55">
                                        <progress max="100" value="40" class="html5">
                                            <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                                            <div class="progress-bar">
                                                <span style="width: 40%">40%</span>
                                            </div>
                                        </progress>
                            </div>
                            <div class="w_right w_20">
                                <span>10 g</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <h4><strong>Fat</strong></h4>
                            </div>
                            <div class="w_center w_55">
                                <progress max="100" value="20" class="html5">
                                    <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                                    <div class="progress-bar">
                                        <span style="width: 20%">20%</span>
                                    </div>
                                </progress>
                            </div>
                            <div class="w_right w_20">
                                <span>5 g</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <h4><strong>Fiber</strong></h4>
                            </div>
                            <div class="w_center w_55">
                                <progress max="100" value="10" class="html5">
                                    <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                                    <div class="progress-bar">
                                        <span style="width: 10%">10%</span>
                                    </div>
                                </progress>
                            </div>
                            <div class="w_right w_20">
                                <span>2 g</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
            </div>

            <br /><br /><br />
        </div>
    </div>
    <br /><br />


    <!-- Doughnut Chart -->
<script>
      $(document).ready(function(){
        var options = {
          legend: false,
          responsive: false
        };

        new Chart(document.getElementById("canvas1"), {
          type: 'doughnut',
          tooltipFillColor: "rgba(51, 51, 51, 0.55)",
          data: {
            labels: [
              "Symbian",
              "Blackberry",
              "Other",
              "Android",
              "IOS"
            ],
            datasets: [{
              data: [15, 20, 30, 10, 30],
              backgroundColor: [
                "#BDC3C7",
                "#9B59B6",
                "#E74C3C",
                "#26B99A",
                "#3498DB"
              ],
              hoverBackgroundColor: [
                "#CFD4D8",
                "#B370CF",
                "#E95E4F",
                "#36CAAB",
                "#49A9EA"
              ]
            }]
          },
          options: options
        });
      });
</script>
<!-- /Doughnut Chart -->
