<div ng-controller="RecordSugarController">
    <div id="head" class="panel-heading ui-draggable-handle">
        <h1 class="panel-title" style="color:white" align="center"></h1>
    </div>
</div>
    