<div ng-controller="RecordSugarController">
    <div class="main_container">
        <div role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Symptoms Diabetes</h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Record Symptoms <small> medical record tracking in diabetes </small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br />
                                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sugar">
                                            Sugar blood
                                        </label>

                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input type="number" id="sugar" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="picture">
                                        select picture
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="input-group">
                                            <br>
                                            <img id="blah" src="~/Images/catering-icon.png"
                                                 class="img-circle img-responsive center-block" style="width:50%">
                                            <br><br>
                                            <input type="file" class="align:center"  onchange="readURL(this);">
                                        </div>
                                    </div>
                                </div>*@

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pressure">
                                            Blood pressure
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input type="number" id="pressure" name="pressure" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cholesterol">
                                            Cholesterol
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input type="number" id="cholesterol" name="cholesterol" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="weight">
                                            Weight
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input type="number" id="weight" name="weight" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>

                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <button type="submit" class="btn btn-primary">Cancel</button>
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-align-left"></i> History <small>Records</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <!-- start accordion -->
                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel">
                                @*<a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h4 class="panel-title">Collapsible Group Items #1</h4>
                                </a>*@
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <table class="table table-bordered" align="center">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Sugar blood (mg/dL)</th>
                                                    @*<th>Blood pressure (MmHg.)</th>
                                                    <th>Cholesterol (mg/dL) </th>
                                                    <th>Weight (kg.)</th>*@
                                                </tr>
                                            </thead>
                                            <tbody align="center">
                                                <tr>
                                                    <td>03/01/17</td>
                                                    <td>09.15 AM.</td>
                                                    <td>120</td>
                                                    @*<td>150/95</td>
                                                    <td>210</td>
                                                    <td>60</td>*@
                                                </tr>
                                                <tr> 
                                                    <td>02/01/17</td>
                                                    <td>12.00 AM.</td>
                                                    <td>110</td>
                                                    @*<td>140/90</td>
                                                    <td>190</td>
                                                    <td>55</td>*@
                                                </tr>
                                                <tr>
                                                    <td>01/01/17</td>
                                                    <td>13.02 AM.</td>
                                                    <td>90</td>
                                                    @*<td>120/85</td>
                                                    <td>190</td>
                                                    <td>78</td>*@
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
                </div>
            </div>
