
<div ng-controller="AddFoodControlle">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2>Add Food</h2>

            <div class="x_panel tile fixed_height_500">
                <div class="row top_tiles">
                    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-right"><a href="https://webqr.com/"><i class="fa fa-barcode pull-right"></i></a></div>
                            <div class="col-md-8 col-sm-8 col-xs-8 form-group pull-left top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for a Food">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button"><i style="color:white">Go!</i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h1 class="panel-title" style="color:dodgerblue" align="center">
                    <strong>RECENT</strong>
                </h1>
                <br />
                <div class="row top_tiles">
                    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12" href="/#/AddFood">
                        <div class="tile-stats">
                            <a href="/#/FoodDetail">
                                <div class="icon"><h4>178</h4></div>
                                <div class="count"><h2><strong>Fried Rice With Pork</strong></h2></div>
                                <h3>100 g</h3>
                            </a>
                        </div>
                    </div>

                    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12" href="/#/AddFood">
                        <div class="tile-stats">
                            <a href="/#/FoodDetail">
                                <div class="icon"><h4>300</h4></div>
                                <div class="count"><h2><strong>Pizza</strong></h2></div>
                                <h3>1 slice</h3>
                            </a>
                        </div>
                    </div>

                    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12" href="/#/AddFood">
                        <div class="tile-stats">
                            <a href="/#/FoodDetail">
                                <div class="icon"><h4>460</h4></div>
                                <div class="count"><h2><strong>Thai Boat Noodles</strong></h2></div>
                                <h3>1 cups</h3>
                            </a>
                        </div>
                    </div>

                    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12" href="/#/AddFood">
                        <div class="tile-stats">
                            <a href="/#/FoodDetail">
                                <div class="icon"><h4>150</h4></div>
                                <div class="count"><h2><strong>Shrimp Shumai(ขนมจีบกุ้ง)</strong></h2></div>
                                <h3>4 pieces(64g)</h3>
                            </a>
                        </div>
                    </div>

                </div>
                <br />
                <br />

            </div>
        </div>
    </div>
</div>
<br />
<br />




