<div ng-controller="ShowFoodController">

    <div id="head" class="panel panel-primary col-lg-12 col-md-12 col-sm-12 col-xs-12" role="main">
        <div id="head" class="panel-heading ui-draggable-handle col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <i class="fa fa-chevron-left nav navbar-left"></i>
            <i class="fa fa-chevron-right nav navbar-right"></i>
            <h1 class="panel-title" style="color:white" align="center">
                <strong>Today</strong>
            </h1>
        </div>

        <div role="main">
            <div class="">
                <div class="row top_tiles">
                    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tile-stats">
                            <div class="col-md-2 col-sm-3 col-xs-4">
                                <div class="product-image">
                                    <img src="~/Images/catering-icon.png" alt="..." />
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <h2>You should consume no more than 40 grams of sugar, or 8 teaspoons per day.</h2>
                                <br />
                                <h2>Diabetics should eat no more than 1600-2000 calories per day.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- page content -->

        <div class="row top_tiles">
            <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12" href="/#/AddFood">
                <div class="tile-stats">
                    <a href="/#/AddFood">
                        <div class="icon"><h4><strong>178</strong></h4></div>
                        <div class="count"><h2><strong>Breakfast</strong></h2></div>
                        <div class="count"><h4><strong> - Fried Rice With Pork ข้าวผัดหมู</strong></h4></div>
                        <br />
                        <h3><i class="fa fa-plus"></i>Add Food</h3>
                    </a>
                </div>
            </div>

            <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12" href="/#/AddFood">
                <div class="tile-stats">
                    <a href="/#/AddFood">
                        <div class="icon"><i class="glyphicon glyphicon-option-horizontal"></i></div>
                        <div class="count"><h2><strong>Lunch</strong></h2></div>
                        <h3><i class="fa fa-plus"></i>Add Food</h3>
                    </a>
                </div>
            </div>
            <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tile-stats">
                    <a href="/#/AddFood">
                        <div class="icon"><i class="glyphicon glyphicon-option-horizontal"></i></div>
                        <div class="count"><h2><strong>Dinner</strong></h2></div>
                        <h3><i class="fa fa-plus"></i>Add Food</h3>
                    </a>
                </div>
            </div>
        </div>
        <br /><br /><br />
    </div>
</div>
<br /><br />
